* {
    outline: none;
}
.navigation {
    margin-bottom: 50px;
}
.nav-button {
    margin-right: 30px;
}
.submit-button {
    margin-top: 20px;
}
.row {
    margin-bottom: 50px;
}
.avatar {
    max-width: 40%;
    height: auto;
}
.likes-counter {
    margin: 10px 0 0 10px;
}
input[type="number"] {
    width: 20%;
}
textarea {
    resize: none;
}
