<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Форма отзыва</title>
        <style>
            * {outline: none;}
        </style>
    </head>
    <body>
        <h1>Форма отзыва</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" id="feedback-submit" value="Отправить">
        </form>
        {{ text }}
        {{ grade }}
        {{ content }}
    </body>
</html>
